<div class="card mt-4">
  <div class="card-body" *ngIf="ShowContent">
    <div class="row" *ngIf="movie">
      <div class="col-sm-12 col-lg-3 mt-2">
        <div class="sticky-top">
          <p>
            <img src="{{ posterUrl }}" class="mx-auto d-block poster rounded" />
          </p>
          <p></p>
        </div>
      </div>
      <div class="col-sm-12 col-lg-6 mt-2">
        <div class="card-title">
          <h2>
            {{ movie.title }}
            <a href="#" style="font-size: 16px">{{
              movie.release_date | date: 'yyyy'
            }}</a>
          </h2>

          <small>{{ movie.original_title }}</small>
          <hr />
        </div>
        <p>
          <span
            *ngFor="let genre of movie.genres"
            class="badge badge-pill badge-primary mr-1"
          >
            {{ genre.name }}</span
          >
        </p>
        <p>
          <span class="score">
            <i class="fab fa-imdb"></i>
            <span class="score-text">{{
              movie.vote_average | number: '1.1-2'
            }}</span>
          </span>
        </p>
        <p><strong>Sinopse: </strong>{{ movie.overview }}</p>
        <p></p>
        <ngb-tabset>
          <ngb-tab title="Elenco">
            <ng-template ngbTabContent>
              <ul class="list-unstyled float-left mt-3">
                <li
                  class="media mb-2 float-left person-item"
                  *ngFor="let cast of movie.casts.cast"
                >
                  <a [routerLink]="['/person', cast.id]">
                    <img
                      *ngIf="cast.profile_path"
                      src="https://image.tmdb.org/t/p/w185/{{
                        cast.profile_path
                      }}"
                      class="profile-img rounded-circle mr-3"
                      alt=""
                    />
                    <img
                      *ngIf="!cast.profile_path"
                      src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png"
                      class="profile-img rounded-circle mr-3"
                      alt=""
                    />
                  </a>
                  <div class="media-body">
                    <h5 class="mt-0">
                      <a [routerLink]="['/person', cast.id]">{{ cast.name }}</a>
                    </h5>
                    {{ cast.character }}
                  </div>
                </li>
              </ul>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Diretor">
            <ng-template ngbTabContent>
              <ul class="list-unstyled float-left mt-3 d-block">
                <li
                  class="media mb-2 float-left person-item"
                  *ngFor="let director of directors"
                >
                  <img
                    *ngIf="director.profile_path"
                    src="https://image.tmdb.org/t/p/w185/{{
                      director.profile_path
                    }}"
                    class="profile-img rounded-circle mr-3"
                    alt=""
                  />
                  <img
                    *ngIf="!director.profile_path"
                    src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png"
                    class="profile-img rounded-circle mr-3"
                    alt=""
                  />
                  <div class="media-body">
                    <h5 class="mt-0">{{ director.name }}</h5>
                    {{ director.job }}
                  </div>
                </li>
              </ul>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
      <div class="col-sm-12 col-lg-3 mt-2">
        <watch-button *ngIf="movie" [movie]="movie"></watch-button>
      </div>
    </div>
  </div>
</div>
