<div class="row justify-content-between mt-4">
  <div class="col-12">
    <h3 class="home-welcome-message">Bem Vindo, Enilton Rodrigues de Andrade</h3>
    <span class="home-time-watched">13 Dias, 12 Horas e 32 Minutos assistindo.</span>
  </div>
  <!-- <div class="col-xl-4 col-lg-6">
      <ul class="list-inline">
          <li class="list-inline-item">
              <span class="home-static-number">606</span>
              <span class="home-static-desc">Fimes Assistidos</span>
          </li>
          <li class="list-inline-item">
              <span class="home-static-number">5</span>
              <span class="home-static-desc">Esse Mês</span>
          </li>
          <li class="list-inline-item">
              <span class="home-static-number">2</span>
              <span class="home-static-desc">Esse Ano</span>
          </li>
       </ul>
  </div> -->
</div>
