.home-welcome-message{
    font-size: 18px;
    color: azure;
}

.home-time-watched{
    font-size: 14px;
}

.list-inline-item{
    border-left: 1px solid #303030;
    padding: 0 10px;
    text-align: right
}

.home-static-number{
    display: block;
    font-size: 18px;
    color: #6ac045;
}

.home-static-desc{
    display: block;
    font-size: 154x;
}