<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- *ngIf="isLoggedIn$ | async as isLoggedIn" -->
  <div class="container">
    <a class="navbar-brand">WMDB</a>
    <button
      class="navbar-toggler hidden-sm-up"
      type="button"
      (click)="isNavbarCollapsed = !isNavbarCollapsed"
      data-target="#navbarsDefault"
      aria-controls="navbarsDefault"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      id="main-navbar"
      [ngbCollapse]="isNavbarCollapsed"
      class="collapse navbar-collapse"
    >
      <nav-search-bar></nav-search-bar>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/']" (click)="collapse()"
            >Início <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item d-block d-sm-none">
          <a
            class="nav-link"
            [routerLink]="['/pesquisar']"
            aria-disabled="true"
            (click)="collapse()"
            >Pesquisar</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/filmes']" aria-disabled="true">Filmes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" aria-disabled="true">Atores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" aria-disabled="true">Diretores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" aria-disabled="true">Gêneros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" aria-disabled="true">Anos</a>
        </li>
        <li class="nav-item dropdown" ngbDropdown *ngIf="user">
          <a
            class="nav-link dropdown-toggle"
            ngbDropdownToggle
            href="#"
            id="navbarDropdown"
            role="button"
          >
            {{ user.name }}
          </a>
          <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="navbarDropdown">
            <a class="dropdown-item" ngbDropdownItem (click)="onLogout()">Sair</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
