section {
  padding: 27px 0;
}

.inner {
  width: 100%;
}

.list-inline-item {
  text-align: center;
  position: relative;
  width: 100px;
  padding-right: 10px;
}

.list-inline-item i {
  position: absolute;
  right: -10px;
  top: 50%;
  color: #2a2d36;
}

.list-inline-item span {
  color: #949cb0;
  font-size: 12px;
  line-height: 18px;
}

.list-inline-item:last-child i {
  display: none;
}

.list-inline-item strong {
  font-size: 38px;
  line-height: 43px;
  font-weight: 600;
  color: #fff;
  font-family: 'Helvetica Neue', sans-serif;
}

.home-greetings {
  margin: auto 0;
}
