section {
  /* background-color: #0e0d12; */
  padding: 54px 0;
}

header {
  width: 100%;
  margin-bottom: 54px;
}

header h2 {
  flex: 1;
  margin: 0;
  min-width: 15%;
  font-size: 32px;
  line-height: 38px;
  position: relative;
  display: block;
  overflow: hidden;
  letter-spacing: -0.025em;
  font-weight: 600;
}

header h2::after {
  position: absolute;
  content: '';
  height: 1px;
  width: 100%;
  top: 50%;
  background-color: #394253;
  margin-left: 25px;
}

.film-breakdown-graph-bar-label {
  display: block;
  font-size: 18px;
  width: 38%;
  float: left;
  height: 28px;
  color: #fff;
  font-weight: bold;
  text-align: right;
  padding-right: 10px;
}
.film-breakdown-graph-bar-label:hover {
  color: #6ac045;
  text-decoration: none;
}

.film-breakdown-graph-bar-value-container span {
  float: right;
  font-size: 12px;
  line-height: 24px;
  font-weight: bold;
}

.film-breakdown-graph-bar-value-container {
  display: block;
  width: 50%;
  float: left;
  margin-bottom: 10px;
}
.film-breakdown-graph-bar-value {
  background: #6ac045;
  border-radius: 2px;
  height: 28px;
  min-width: 4px;
  padding: 2px 3px;
}

.film-breakdown-graph-bar-value:hover span {
  display: block;
}
