<div class="search">
  <input class="form-control" type="search" name="serach" />
</div>
<div class="results">
  <div class="card">
    <h5 class="card-header">The Avengers - Os Vingadores (2010)</h5>
    <a href="#">
      <img
        class="card-img-top"
        src="http://image.tmdb.org/t/p/w780/hbn46fQaRmlpBuUrEiFqv0GDL6Y.jpg"
        alt="Card image cap"
      />
    </a>
  </div>
  <div class="card">
    <h5 class="card-header">The Avengers - Os Vingadores (2010)</h5>
    <a href="#">
      <img
        class="card-img-top"
        src="http://image.tmdb.org/t/p/w780/hbn46fQaRmlpBuUrEiFqv0GDL6Y.jpg"
        alt="Card image cap"
      />
    </a>
  </div>
</div>
