@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap');
@import url('https://use.fontawesome.com/releases/v5.7.1/css/all.css');

//Colors
$primary: #6ac045;
$secondary: #1a222d;
$gray-dark: #14181c;
$gray-light: #abc;
$gray-light-2: #a9cdf2;
$body-bg: $gray-dark;

//Them#
$theme-colors: (
  'primary': $primary,
  'secondary': #6ac045,
  'danger': #ff4136
);
$body-color: #fff;
$link-color: $primary;

//Nav
$nav-tabs-link-active-bg: $secondary;
$nav-tabs-link-active-border-color: #131722;
$nav-tabs-border-color: $secondary;
$nav-tabs-link-active-color: $primary;

//Navbar
$navbar-dark-color: #fff;

//Cards
$card-border-width: 0;
$card-bg: none;
$popover-header-color: $secondary;

//breadcomb
$breadcrumb-bg: #131722;

@import '~bootstrap/scss/bootstrap';

body {
  //font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  background: #131722;
  font-size: 0.9rem;
}

header {
  padding: 0;
}

.badge {
  font-weight: normal;
  padding: 5px 5px;
}

.badge-primary,
.btn-primary {
  color: $secondary;
}

a:hover {
  text-decoration: none;
}

button:focus {
  outline: 0;
}
