.profile-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  transition: 0.5s;
}

.media:hover .media-body a {
  color: #6ac045;
}

.media:hover .profile-img {
  border: 2px solid #6ac045;
}
.person-item {
  width: 260px;
  height: 75px;
  padding: 0 5px;
  overflow: hidden;
}

.person-item a {
  color: white;
}
.person-item a:hover {
  color: white;
  text-decoration: none;
}

.media-body {
  font-size: 12px;
}

.media-body h5 {
  font-size: 15px;
}
.media-body h5 a {
  transition: 0.5s;
}

.btn-toogle {
  float: left;
  width: 100%;
  text-align: center;
}
